### Clean

In [1]:
import pandas as pd

In [6]:
leak = pd.read_csv("../leak/games_achievements_players_2018-07-01.csv", encoding = "ISO-8859-1")
leak.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13281 entries, 0 to 13280
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               13278 non-null  object
 1    Players Estimate   13281 non-null  object
 2   Steam App ID        13263 non-null  float64
dtypes: float64(1), object(2)
memory usage: 311.4+ KB

In [7]:
leak.dropna(inplace=True)
leak.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13260 entries, 0 to 13280
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               13260 non-null  object
 1    Players Estimate   13260 non-null  object
 2   Steam App ID        13260 non-null  float64
dtypes: float64(1), object(2)
memory usage: 414.4+ KB

In [8]:
leak.sample(10)

,Title,Players Estimate,Steam App ID
8003,Lozenge,"1,876",775720.0
1570,Go! Go! Nippon! ~My First Trip to Japan~,"131,504",251870.0
9245,Barbarian Brawl,852,332730.0
12347,Jida Chronicle Chaos frontier VR,73,753960.0
2771,Project Genom,"45,174",389040.0
13038,Kitty Run,24,873620.0
12720,star of lemutia,38,740560.0
6159,Dragon's Lair 2: Time Warp,"5,436",240360.0
5131,Empires Apart,"9,535",530630.0
7701,Let`s not stay friends,"2,257",739980.0

In [9]:
leak.to_csv("clean_leak.csv", encoding="utf-8", index=False)

### Steam App ID by Players Estimate desc

In [2]:
leak = pd.read_csv("./clean_leak.csv")
leak.head()

                              Title  Players Estimate   Steam App ID
0                   Team Fortress 2         50,191,347         440.0
1  Counter-Strike: Global Offensive         46,305,966         730.0
2     PLAYERUNKNOWN'S BATTLEGROUNDS         36,604,134      578080.0
3                          Unturned         27,381,399      304930.0
4                     Left 4 Dead 2         23,143,723         550.0

In [6]:
leak.columns = leak.columns.str.strip()
leak.columns

Index(['Title', 'Players Estimate', 'Steam App ID'], dtype='object')

In [15]:
leak["Players Estimate"] = pd.to_numeric(leak["Players Estimate"].replace({",": ''}, regex=True), errors='coerce')

In [16]:
leak.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13260 entries, 0 to 13259
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             13260 non-null  object
 1   Players Estimate  13228 non-null  float64
 2   Steam App ID      13260 non-null  float64
dtypes: float64(2), object(1)
memory usage: 310.9+ KB

In [17]:
leak.dropna(inplace=True)

In [18]:
leak.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13228 entries, 0 to 13259
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             13228 non-null  object
 1   Players Estimate  13228 non-null  float64
 2   Steam App ID      13228 non-null  float64
dtypes: float64(2), object(1)
memory usage: 413.4+ KB

In [19]:
leak.head()

                              Title  Players Estimate  Steam App ID
0                   Team Fortress 2        50191347.0         440.0
1  Counter-Strike: Global Offensive        46305966.0         730.0
2     PLAYERUNKNOWN'S BATTLEGROUNDS        36604134.0      578080.0
3                          Unturned        27381399.0      304930.0
4                     Left 4 Dead 2        23143723.0         550.0

In [21]:
leak.sort_values(by="Players Estimate", ascending=False, ignore_index=True, inplace=True)

In [22]:
leak

                                  Title  Players Estimate  Steam App ID
0                       Team Fortress 2        50191347.0         440.0
1      Counter-Strike: Global Offensive        46305966.0         730.0
2         PLAYERUNKNOWN'S BATTLEGROUNDS        36604134.0      578080.0
3                              Unturned        27381399.0      304930.0
4                         Left 4 Dead 2        23143723.0         550.0
...                                 ...               ...           ...
13223        ¾Üø¾¥Ô_¤_Ó_? Falsemen 3               4.0      643930.0
13224                            ±±«_               3.0      591020.0
13225                          HellSign               3.0      606500.0
13226                        Possession               3.0      629340.0
13227                     Disco Elysium               3.0      632470.0

[13228 rows x 3 columns]

In [23]:
leak.to_csv("./clean_leak.csv", index=False, encoding="utf-8")

### Strip whitespace

In [24]:
leak = pd.read_csv("./clean_leak.csv")
leak.head()

                              Title  Players Estimate  Steam App ID
0                   Team Fortress 2        50191347.0         440.0
1  Counter-Strike: Global Offensive        46305966.0         730.0
2     PLAYERUNKNOWN'S BATTLEGROUNDS        36604134.0      578080.0
3                          Unturned        27381399.0      304930.0
4                     Left 4 Dead 2        23143723.0         550.0

In [25]:
leak.columns

Index(['Title', 'Players Estimate', 'Steam App ID'], dtype='object')

In [27]:
leak["Title"] = leak["Title"].str.strip()

In [28]:
leak.to_csv("./clean_leak.csv", index=False, encoding="utf-8")

### Float to Int

In [29]:
leak = pd.read_csv("./clean_leak.csv")
leak.head()

                              Title  Players Estimate  Steam App ID
0                   Team Fortress 2        50191347.0         440.0
1  Counter-Strike: Global Offensive        46305966.0         730.0
2     PLAYERUNKNOWN'S BATTLEGROUNDS        36604134.0      578080.0
3                          Unturned        27381399.0      304930.0
4                     Left 4 Dead 2        23143723.0         550.0

In [32]:
leak[["Players Estimate", "Steam App ID"]] = leak[["Players Estimate", "Steam App ID"]].astype('Int64')

In [33]:
leak

                                  Title  Players Estimate  Steam App ID
0                       Team Fortress 2          50191347           440
1      Counter-Strike: Global Offensive          46305966           730
2         PLAYERUNKNOWN'S BATTLEGROUNDS          36604134        578080
3                              Unturned          27381399        304930
4                         Left 4 Dead 2          23143723           550
...                                 ...               ...           ...
13223        ¾Üø¾¥Ô_¤_Ó_? Falsemen 3                 4        643930
13224                            ±±«_                 3        591020
13225                          HellSign                 3        606500
13226                        Possession                 3        629340
13227                     Disco Elysium                 3        632470

[13228 rows x 3 columns]

In [34]:
leak.to_csv("./clean_leak.csv", index=False, encoding="utf-8")