In [1]:
import pandas as pd

In [2]:
df = pd.read_json("./data/review_stats.json", orient='index')
df.head()

,review_score,review_score_desc,total_positive,total_negative,total_reviews
220,9,Overwhelmingly Positive,54855,1761,56616
240,9,Overwhelmingly Positive,65877,2798,68675
300,8,Very Positive,9014,937,9951
380,8,Very Positive,6168,352,6520
400,9,Overwhelmingly Positive,43124,794,43918

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13275 entries, 220 to 892880
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_score       13275 non-null  int64
 1   review_score_desc  13275 non-null  object
 2   total_positive     13275 non-null  int64
 3   total_negative     13275 non-null  int64
 4   total_reviews      13275 non-null  int64
dtypes: int64(4), object(1)
memory usage: 622.3+ KB

In [4]:
df.review_score_desc.unique()

array(['Overwhelmingly Positive', 'Very Positive', 'No user reviews',
       'Mostly Positive', 'Mixed', 'Negative', 'Mostly Negative',
       '2 user reviews', 'Positive', '7 user reviews', '6 user reviews',
       'Overwhelmingly Negative', '4 user reviews', 'Very Negative',
       '5 user reviews', '9 user reviews', '8 user reviews',
       '3 user reviews', '1 user reviews'], dtype=object)

In [5]:
df.index.name = "app_id"
df.head()

,review_score,review_score_desc,total_positive,total_negative,total_reviews
app_id,,,,,
220,9,Overwhelmingly Positive,54855,1761,56616
240,9,Overwhelmingly Positive,65877,2798,68675
300,8,Very Positive,9014,937,9951
380,8,Very Positive,6168,352,6520
400,9,Overwhelmingly Positive,43124,794,43918

In [7]:
df.to_csv("./data/reviews_2018_all.csv")